<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.dev.mapper.DevTestMapper">
    
    <resultMap type="DevTest" id="DevTestResult">
        <result property="id"    column="id"    />
        <result property="descr"    column="descr"    />
    </resultMap>


</mapper>